* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", Sans-Serif;
	box-sizing: border-box;
	color: var(--text-color);
}
html {
	font-size: 62.5%;
}
body {
	min-height: 100vh;
	padding: 0 2rem;
	background: linear-gradient(
		120deg,
		hsl(from var(--bg-color) h s calc(l - 10)),
		var(--bg-color)
	);
}
:root {
	--bg-color: #9787f3;
	--text-color: #eaeffe;
	--accent-color: #2d274b;
	--light-bg: hsl(from var(--bg-color) h s calc(l + 10));
	--note-text: hsl(from var(--accent-color) h s calc(l + 20));
	--danger: #b72e2e;
}
.main-heading {
	font-size: 4.8rem;
	text-align: center;
}
header {
	margin-bottom: 4.8rem;
}
main {
	margin-bottom: 4.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.8rem;
	flex-direction: column;
}
.search-container {
	background: var(--light-bg);
	padding: 0.8rem;
	border-radius: 1.8rem;
	display: grid;
	grid-template-columns: 2rem auto;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
}
.search-bar {
	background: var(--light-bg);
	color: var(--accent-color);
	border: none;
	outline: none;
	font-size: 1.8rem;
	font-weight: 500;
	width: 100%;
}
.search-bar::placeholder {
	color: var(--text-color);
}
.search-icon {
	font-size: 1.8rem;
}
.btn {
	text-decoration: none;
	display: inline-block;
	padding: 0.8rem 1.8rem;
	border-radius: 1.8rem;
	font-size: 1.8rem;
}
.add-div {
	display: flex;
	gap: 0.8rem;
	align-items: center;
	background: var(--accent-color);
}
.add-btn {
	font-size: 1.8rem;
	font-weight: 600;
}
.fa-plus {
	font-weight: 600;
}
.your-notes-head {
	margin-bottom: 4.8rem;
}
.your-notes {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1.8rem;
}
.head-title {
	font-size: 2.8rem;
	font-weight: 700;
	text-align: center;
}
.note {
	padding: 1.8rem;
	border-radius: 1.8rem;
	background: var(--light-bg);
	position: relative;
	overflow: hidden;
	max-height: 15rem;
	width: 100%;
	max-width: 50rem;
	margin-bottom: 2rem;
}
.note-title {
	font-size: 2.8rem;
	color: var(--note-text);
	margin-bottom: 1.8rem;
}
.note-body {
	color: var(--note-text);
	font-weight: 400;
	font-size: 1.4rem;
	overflow: auto;
}
.note-date {
	color: var(--accent-color);
	position: absolute;
	top: 0.8rem;
	right: 1.8rem;
}
.note-edit {
	background: var(--accent-color);
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.8rem;
	padding: 0.08rem 0.8rem;
	border-radius: 0.8rem;
	transition: 0.3s;
	cursor: pointer;
	opacity: 0;
}
.note:hover .note-edit {
	opacity: 1;
}
.delete-checkbox {
	transition: 0.5s;
	position: absolute;
	bottom: 10%;
	right: 5%;
	accent-color: var(--danger);
}
.add-dialog {
	width: 100svw;
	height: 100svh;
	position: fixed;
	z-index: 1000;
	background: transparent;
	border: none;
	top: 0;
	left: 0;
}
.dialog-cont {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dialog-div {
	background: var(--light-bg);
	padding: 1.8rem;
	border-radius: 1.8rem;
	display: grid;
	gap: 1.8rem;
	grid-template-rows: 5rem auto 5rem;
	height: 45rem;
	max-width: 30rem;
	background: var(--text-color);
	border: 1px solid var(--bg-color);
	box-shadow: 0 0 7px 2px var(--bg-color);
}
.dialog-title,
.dialog-body {
	border: none;
	outline: none;
	height: 100%;
	width: 100%;
	padding: 1.8rem;
	color: black;
	background: var(--text-color);
	border: 2px solid var(--light-bg);
	border-radius: 1.8rem;
}
.dialog-title {
	font-size: 1.8rem;
}
.dialog-btn-div {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.save-btn {
	background: var(--note-text);
}
.discard-btn {
	background: var(--danger);
}
.delete-bar-cont {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1.8rem;
}
.delete-bar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: var(--accent-color);
	border-radius: 2.8rem;
	corner-shape: superellipse(-1);
	padding: 0.8rem;
}
.bar-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.8rem;
	color: var(--text-color);
}
.bar-i {
	color: currentColor;
	font-size: 1.8rem;
}
.bar-txt {
	color: currentColor;
	font-weight: 600;
}
.bar-btn:nth-of-type(1):hover {
	color: var(--danger);
}
@media (min-width: 900px) {
	html {
		font-size: 90%;
	}
	body {
		padding: 0 5rem;
	}
	main {
		margin-bottom: 6.8rem;
	}
}
@media (min-width: 1200px) {
	html {
		font-size: 100%;
	}
	body {
		padding: 0 10rem;
	}
}
